BasedOnStyle: Microsoft

AlignAfterOpenBracket: Align
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
ColumnLimit: 120
FixNamespaceComments: true
IndentPPDirectives: BeforeHash
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PointerAlignment: Left
UseTab: ForContinuationAndIndentation